@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Automated Plug and Playable Microfluidic System</h1>
    <p> @DateTime.Now</p>
    <img src="~/Images/APUS_WordONly_Outline_Transparent.png" />


</div>